.navbar-model {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 20;

    color: white;
}

.navbar-model-option {
    background-color: rgb(85, 85, 85);

    padding: 10px;

    cursor: pointer;

    &:hover {
        background-color: rgb(34, 33, 33);
    }
}